<!-- include React and Relay scripts (we don't bundle them) -->
<script src=//fb.me/react-0.14.3.min.js></script>
<script src=//fb.me/react-dom-0.14.3.min.js></script>
<script src=/relay/relay.min.js></script>
<div id=content />
<!-- now request our browserified bundle which will run the React.render -->
<script src=/bundle.js></script>
